{% extends 'mir/base.html' %}
{% block content %}
    <div class="post">
        {% if post.published_date %}
            <div class="date">
                <br>
                <br>
             <b> Feedback Last Updated On:  {{ post.published_date }}</b>
            </div>
        {% endif %}

                <a class="btn btn-default" href="/mir/post/{{post.pk}}/edit/"><span style="color:green" class="glyphicon glyphicon-pencil">Edit</span></a>
                <a class="btn btn-default" href="/mir/post/{{post.pk}}/delete/"><span style="color:red"class="glyphicon glyphicon-remove">Delete</span></a>

        <h2>{{ post.title }}</h2>
        <p>{{ post.text|linebreaksbr }}</p>
        <b> Feedback Created Date:  {{post.created_date}}</b>
    </div>
{% endblock %}