<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
<h1 style="color: white;">{{ question.question_text }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'polls:vote' question.id %}" method="post">
{% csrf_token %}
{% for choice in question.choice_set.all %}
    <input style="color: white;"  type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
    <label style="color: white;" for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
{% endfor %}
<input style="color: white;" type="submit" value="Vote">
</form>
</body>
</html>